<!-- <h1>Welcome to {{title}}</h1> -->
<!-- <app-hello></app-hello> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-directives></app-directives> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-parent></app-parent> -->
<!-- <app-observables></app-observables> -->
<!-- <app-http-request></app-http-request> -->
<div class="container-fluid">
    <!-- <app-template-driven-form></app-template-driven-form> -->
    <!-- <app-model-driven-reactive-forms></app-model-driven-reactive-forms> -->
    <!-- <app-http-post-request></app-http-post-request> -->
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <h2>Welcome to the Routing Demo</h2>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>