<br>
<div class="row">
    <div class="col-md-5 offset-md-4">
        <div class="card">
            <div class="card-header bg bg-info">
                <h2 class="card-title">User Details:</h2>
            </div>
            <div class="card-body">
                <p><b>Name: </b>{{user.name}}</p>
                <p><b>Email: </b>{{user.email}}</p>
                <p><b>Phone No: </b>{{user.phoneNo}}</p>
                <button class="btn btn-primary btn-block" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</div>